@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
}

main {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#qr-code {
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

#qr-code-description {
  color: hsl(216, 15%, 48%);
}

#qr-code-section {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(216, 15%, 48%);
  margin: auto;
  padding: 16px 16px 40px 16px;
  width: 300px;
}

#qr-code-section-text {
  margin: auto;
  padding: 0px 16px 0px 16px;
}
